<% if (n.location) { -%>{{screenshot||<%- n.location %>}}<% } -%><% if (n.isMob()) { %>{{Stub/Mob}}<% } else { %>{{Stub/NPC}}<% } %>
{{Npcbox
 | name = <%- n.name %>
 | image = <%- n.name %>.jpg
<% if (n.title) { -%>
 | title = <%- n.title %>
<% } -%>
 | gender = <%- n.gender %>
 | level = <%- n.location %>
<% if (n.mana) { -%>
 | resource = Mana
<% } -%>
<% if (n.levelClassification) { -%>
 | type = <%- n.levelClassification %>
<% } -%>
 | faction = <%- n.getFaction() %>
 | aggro = {{Aggro|<%- n.allianceReaction %>|<%- n.hordeReaction %>}}
 | race = <%- n.race %>
 | creature = <%- n.creatureType %>
<% if (n.repFaction) { -%>
 | affiliation = <%- n.getRepFactionLink() %>
<% } -%>
 | location = <% if (n.location) { %>[[<%- n.location %>]]<% } %>
<% if (n.petFamily) { -%>
 | pet = <%- n.petFamily %>
<% } -%>
}}
'''<%- n.name %>''' is a<% if (n.isRaceStartsWithVowel()) { %>n<% } %> [[<%- (n.race || "").toLowerCase() %>]] located in [[<%- n.location %>]].
<% if (n.itemsSold.length) { -%>

==Sells==
<% if (n.isUseItembox()) { -%>
{{Itembox|
<% n.itemsSold.forEach(function(item, index) { -%>
|<%- item.name %>|c<%- (index + 1) %>={{Cost|<%- item.getGold() %>|<%- item.getSilver() %>|<%- item.getCopper() %>}}<% if (item.quantity) { %>|q<%- (index + 1) %>=<%- item.quantity %><% } %><% if (item.stack) { %>|s<%- (index + 1) %>=<%- item.stack %><% } %>
<% }) -%>
}}
<% } else { -%>
{| class="darktable sortable zebra"
! Item !! Cost
<% n.itemsSold.forEach(function(item) { -%>
|-
| [[<%- item.name %>]] || {{Cost|<%- item.getGold() %>|<%- item.getSilver() %>|<%- item.getCopper() %>}}
<% }) -%>
|}
<% } -%>
<% } -%>
<% if (n.quests.length) { -%>

==Quests==
<% n.quests.forEach(function(quest) { -%>
* [[<%- quest.name %>]] <%
	if (quest.starts) {
		if (quest.finishes) {
			%>{{queststartfinish}}<%
		} else {
			%>{{queststart}}<%
		}
	} else if (quest.finishes) {
		%>{{questfinish}}<%
	} %>
<% }) -%>
<% } -%>
<% if (n.objectiveOf.length) { -%>

==Objective of==
<% n.objectiveOf.forEach(function(quest) { -%>
* [[<%- quest %>]]
<% }) -%>
<% } -%>
<% if (n.quotes.length) { -%>

==Quotes==
<% n.quotes.forEach(function(quote) { -%>
* {{Text|<%- quote.type %>|<%- quote.text %>}}
<% }) -%>
<% } -%>
<% if (n.patchAdded) { -%>

==Patch changes==
* {{Patch <%- n.patchAdded %>|note=Added.}}
<% } -%>

==External links==
{{Elinks-NPC|<%- n.id %>}}

<% if (n.location) { -%>
<%   if (n.allianceReaction === -1 && n.hordeReaction === -1) { -%>
[[Category:<%- n.location %> mobs]]
<%   } else { -%>
[[Category:<%- n.location %> NPCs]]
<%   } -%>
<% } -%>
<% if (n.isQuestGiver()) { -%>
[[Category:Quest givers]]
<% } -%>
<% if (n.isQuestEnder()) { -%>
[[Category:Quest enders]]
<% } -%>
<% if (n.itemsSold.length) { -%>
[[Category:Vendors]]
<% } -%>
<% if (!n.location && !n.quests.length && !n.itemsSold.length) { -%>
<%   if (n.allianceReaction === -1 && n.hordeReaction === -1) { -%>
[[Category:Mobs]]
<%   } else { -%>
[[Category:NPCs]]
<%   } -%>
<% } -%>
