<% if (q.removed) { -%>
{{Removed|patch=}}
<% } else { -%>
{{Stub/Quest}}
<% } -%>
{{Questbox
<% if (q.removed) { -%>
 | doc =
<% } -%>
 | id = <%-q.id%>
 | name = <%-q.name%>
 | category = <%-q.category%>
<% if (q.faction) { -%>
 | faction = <%-q.faction%>
<% } -%>
<% if (q.race) { -%>
 | race = <%-q.race%>
<% } -%>
<% if (q.characterClass) { -%>
 | class = <%-q.characterClass%>
<% } -%>
 | level = <%-q.level%>
<% if (q.levelRequired) { -%>
 | levelreq = <%-q.levelRequired%>
<% } -%>
<% if (q.type) { -%>
 | type = <%-q.type%>
<% } -%>
<% if (q.groupSize) { -%>
 | groupsize = <%-q.groupSize%>
<% } -%>
<% if (q.startEntity) { -%>
 | start = [[<%-q.startEntity%>]]
<% } else { -%>
 | start = Automatic
<% } -%>
<% if (q.finishEntity && q.startEntity !== q.finishEntity) { -%>
 | end = [[<%-q.finishEntity%>]]
<% } else if (!q.finishEntity && q.startEntity) { -%>
 | end = Automatic
<% } -%>
<% if (q.reputationGains.length) { -%>
 | reputation = <%
	q.reputationGains.forEach(function(gain, index) {
		%><%- gain %><%
		if (index < q.reputationGains.length - 1) {
			%><br /><%
		}
	}) %>
<% } -%>
<% if (q.experience) { -%>
 | experience = <%- q.getExperienceStr() %>
<% } -%>
<% if (q.hasItemAbilityOrBuffRewards()) { -%>
 | rewards = <% q.choiceRewards.forEach(function(reward, index) { -%>
<% if (index > 0) { -%>or <% } -%><% if (reward.quantity) { -%><%- reward.quantity %>x <% } -%>[[<%- reward.name %>]]<% if (index < q.choiceRewards.length - 1) { -%><br /><% } -%>
<% }) -%>
<% q.getAllNonChoiceRewards().forEach(function(reward, index, array) { -%>
<% if (index === 0) { -%><% if (q.choiceRewards.length) { -%><br /><br /><% } } -%><% if (reward.quantity) { -%><%- reward.quantity %>x <% } -%>[[<%- reward.name %>]]<% if (index < array.length - 1) { -%><br /><% } -%>
<% }) %>
<% } -%>
<% if (q.money) { -%>
 | money = {{cost|<%- q.getGold() %>|<%- q.getSilver() %>|<%- q.getCopper() %>}}
<% } -%>
<% if (q.repeatable) { -%>
 | repeatable = Yes
<% } -%>
<% if (!q.shareable) { -%>
 | shareable = No
<% } -%>
 | previous = <% q.previousQuests.forEach(function(quest, index) {
	%>[[<%- quest %>]]<%
		if (index < q.previousQuests.length - 1) {
			%>, <%
		}
	}) %>
 | next = <% q.nextQuests.forEach(function(quest, index) {
	%>[[<%- quest %>]]<%
		if (index < q.nextQuests.length - 1) {
			%>, <%
		}
	}) %>
<% if (q.faction && q.faction !== "Neutral") { -%>
 | other-faction =
<% } -%>
}}

==Objectives==
<% if (q.objectives) { -%>
<%- q.objectives %>
<% } else { -%>
...
<% } -%>
<% q.stages.forEach(function(stage) { -%>
* <%- stage %>
<% }) -%>
<% q.providedItems.forEach(function(item) { -%>
* [[<%- item %>]] (provided)
<% }) -%>
<% if (q.groupSize) { -%>
* Suggested players: <%- q.groupSize %>
<% } -%>

==Description==
<% if (q.description) { -%>
<%- q.description %>
<% } else { -%>
...
<% } -%>

<% if (q.hasRewards()) { -%>
==Rewards==
<% if (q.choiceRewards.length) { -%>
{{itembox|You will be able to choose one of these rewards:
<% q.choiceRewards.forEach(function(reward, index) { -%>
<% if (reward.quantity) { %>|q<%- (index+1) %>=<%-reward.quantity%><% } %>|<%-reward.name%>
<% }) -%>
}}

<% } -%>
<% q.abilityRewards.forEach(function(reward, index) { -%>
You will <% if (q.hasItemRewards()) { -%>also <% } -%>learn: [[<%-reward%>]]

<% }) -%>
<% q.buffRewards.forEach(function(reward, index) { -%>
The following spell will be cast on you: [[<%-reward%>]]

<% }) -%>
<% if (q.hasGains()) { -%>
You will <% if (q.hasChoiceAbilityOrBuffRewards()) { %>also <% } %>receive:
<% if (q.money) { -%>
* {{cost|<%-q.getGold()%>|<%-q.getSilver()%>|<%-q.getCopper()%>}}
<% } -%>
<% if (q.experience) { -%>
* <%-q.getExperienceStr()%> [[XP]]
<% } -%>
<% q.reputationGains.forEach(function(gain) { -%>
* <%-gain.getFullText()%>
<% }) -%>
<% q.otherGains.forEach(function(gain) { -%>
* <%-gain%>
<% }) -%>

<% } -%>
<% if (q.nonChoiceRewards.length) { -%>
{{itembox|<% if (!q.money) { -%>You will <% if (q.hasChoiceAbilityOrBuffRewards()) { -%>also <% } -%>receive:<% } -%>
<% q.nonChoiceRewards.forEach(function(reward, index) { -%>
<% if (reward.quantity) { %>|q<%- (index+1) %>=<%-reward.quantity%><% } %>|<%-reward.name%>
<% }) -%>
}}

<% } -%>
<% } -%>
<% if (q.progress) { -%>
==Progress==
<%-q.progress%>

<% } -%>
<% if (q.completion) { -%>
==Completion==
<%-q.completion%>
<% } -%>

==Progression==
...
<% if (q.patchAdded) { -%>

==Patch changes==
* {{Patch <%-q.patchAdded%>|note=Added.}}
<% } -%>

==External links==
{{Elinks-quest|<%-q.id%>}}
<% if (q.reputationGains.length) { -%>

<% q.reputationGains.forEach(function(gain) { -%>
[[Category:<%- gain.faction %> quests]]
<% }) -%>
<% } -%>